@model props.Models.PropertyPattern

@{
    ViewBag.Title = "Details";
}

<h2>Patterns</h2>
<h3>
    @Html.DisplayFor(model => model.Id)
</h3>
<div>
    <table cellpadding="3">
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        @foreach (var item in Model.Properties)
        {
            <tr>
                <td>
                    <i>@Html.DisplayFor(model => item.Id)</i>
                </td>
                <td>
                    <b>@Html.DisplayFor(model => item.Value)</b>
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

